* {
    box-sizing: border-box;
}





#header {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.57);
}

#icons {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 12px 12px 0;
    text-decoration: none;
    font-size: 38px;
    line-height: 25px;
    border-radius: 4px;
    position: relative;
    margin-right: 15px;
}

.fa-cart-shopping{
    margin-left: 15px;
    color: black !important;
}

.fa-circle-user{
    color: black !important;
}

#logo {
    max-width: 100px;
    margin: 20px -20px 20px 20px
}

.totalQuantity {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    background-color: #b31010;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-right: 8px;
}


.text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: red;
    height: 50px;
    text-align: center;
}

.moving-text {
    display: inline-block;
    color: white;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    animation-delay: 0s;
    margin-right: 50px; /* Spazio tra le frasi */
    line-height: 50px; /* Altezza del contenitore */
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }

    label {
        font-weight: bold;
    }
}

.body-container{
    transition: transform 1s;
}

#subheader{
    background-color:#174978;
    width: 100%;
    padding: 16px 40px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    #logo {
        max-width: 70px;
        margin: 20px;
    }

    #icons {
        font-size: 28px
    }
}

#subheader ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#subheader li {
    display: inline;
    justify-content: space-between;
    border: none;
}

#subheader a {
    color: white;
    text-decoration:none;
}

#subheader #drop {
    font-size: 20px;
    display: none;
}






@media screen and (min-width: 400px) and (max-width: 1250px) {
    #subheader #drop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #subheader ul {
        top: 0;
        right: 0;
        position: absolute;
        background-color: #174978;
        font-size: 32px;
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #subheader li {
        margin-bottom: 20px;
    }
}





.dropdown {
    position: relative;
    display: inline-block;
    z-index: 200; !important
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 300; !important;
    flex-direction: column;
    right: 0;
    padding: 12px 0; /* Aggiungi padding per migliorare la visualizzazione */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown .dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

